@using CMS.Web.Base;
@using CMS.Models;
@{
    List<ChuyenMuc> dsChuyenMuc = ViewBag.DanhSachChuyenMuc;
    List<BaiViet> dsTinMoi = ViewBag.DanhSachTinMoi;
    List<BaiHat> dsBaiHat = ViewBag.DanhSachNhac;
    List<CaSy> danhSachCaSy = ViewBag.DanhSachCaSy;

    ViewBag.Title = "Trang Chủ";
}
<!-- Preloader -->
<div id="preloader">
    <div>
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <span>Wait, please...</span>
    </div>
</div>
<!-- /Preloader -->
<!-- Welcome Area Start -->
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/30.jpg);">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-10 col-lg-6">
                            <div class="welcome-text text-center">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Designed For Music, Engineered to Last</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/32.jpg);">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-10 col-lg-6">
                            <div class="welcome-text text-center">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Designed For Music, Engineered to Last</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/33.jpg);">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-10 col-lg-6">
                            <div class="welcome-text text-center">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Designed For Music, Engineered to Last</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/1.jpg);">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-9 col-lg-6">
                            <div class="welcome-text text-center">
                                <h2 data-animation="fadeInUpBig" data-delay="100ms">Designed For Music, Engineered to Last</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Welcome Area End -->
<!-- Blog Area Start -->
<section class="razo-blog-area section-padding-80-0">
    <div class="container">
        <div class="row">
            <!-- Weekly News Area -->
            <div class="col-12 col-md-8">
                <div class="weekly-news-area mb-50">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <h2>@dsChuyenMuc[0].TenChuyenMuc</h2>
                    </div>

                    <!-- Featured Post Area -->
                    <div class="featured-post-area bg-img bg-overlay mb-30" style="background-image: url('/fileupload/download?key=@(dsChuyenMuc[0].ChuyenMuc_BaiViet.ToArray()[0].BaiViet.AnhDaiDien)');">
                        <!-- Post Overlay -->
                        <div class="post-overlay">
                            <div class="post-meta">
                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> <span class="fb-comments-count" data-href="/BaiViet/ChiTietBaiViet/@(dsChuyenMuc[0].ChuyenMuc_BaiViet.ToArray()[0].BaiVietID)"></span></a>
                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @dsChuyenMuc[0].ChuyenMuc_BaiViet.ToArray()[0].BaiViet.LuotXem</a>
                            </div>
                            <a href="@Url.Action("ChiTietBaiViet", "BaiViet", new { id = @dsChuyenMuc[0].ChuyenMuc_BaiViet.ToArray()[0].BaiVietID })" class="post-title">@dsChuyenMuc[0].ChuyenMuc_BaiViet.ToArray()[0].BaiViet.TieuDe</a>
                        </div>
                    </div>

                    <div class="row">

                        <!-- Single Post Area -->
                        @for (int i = 1; i <= dsChuyenMuc[0].ChuyenMuc_BaiViet.Take(4).Count(); i++)
                        {
                            <div class="col-12 col-md-6">
                                <div class="razo-single-post d-flex mb-30">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <a href="single-blog.html"><img style="height: 100px" src="/fileupload/download?key=@(dsChuyenMuc[0].ChuyenMuc_BaiViet.ToArray()[i].BaiViet.AnhDaiDien)" alt=""></a>
                                    </div>
                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <div class="post-meta">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> <span class="fb-comments-count" data-href="/BaiViet/ChiTietBaiViet/@(dsChuyenMuc[0].ChuyenMuc_BaiViet.ToArray()[i].BaiVietID)"></span></a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @dsChuyenMuc[0].ChuyenMuc_BaiViet.ToArray()[i].BaiViet.LuotXem</a>
                                        </div>
                                        <a href="@Url.Action("ChiTietBaiViet", "BaiViet", new { id = @dsChuyenMuc[0].ChuyenMuc_BaiViet.ToArray()[i].BaiVietID })" class="post-title">@dsChuyenMuc[0].ChuyenMuc_BaiViet.ToArray()[i].BaiViet.TieuDe</a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>

            <!-- Trending News Area -->
            <div class="col-12 col-md-4">
                <div class="trending-news-area mb-50">

                    <!-- Section Heading -->
                    <div class="section-heading">
                        <h2>@dsChuyenMuc[1].TenChuyenMuc</h2>
                    </div>

                    <!-- Featured Post Area -->
                    <div class="featured-post-area small-featured-post bg-img bg-overlay mb-30" style="background-image: url(/fileupload/download?key=@(dsChuyenMuc[1].ChuyenMuc_BaiViet.ToArray()[0].BaiViet.AnhDaiDien));">
                        <!-- Post Overlay -->
                        <div class="post-overlay">
                            <div class="post-meta">
                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> <span class="fb-comments-count" data-href="/BaiViet/ChiTietBaiViet/@(dsChuyenMuc[1].ChuyenMuc_BaiViet.ToArray()[0].BaiVietID)"></span></a>
                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @dsChuyenMuc[1].ChuyenMuc_BaiViet.ToArray()[0].BaiViet.LuotXem</a>
                            </div>
                            <a href="@Url.Action("ChiTietBaiViet", "BaiViet", new { id = @dsChuyenMuc[1].ChuyenMuc_BaiViet.ToArray()[0].BaiVietID })" class="post-title">@dsChuyenMuc[1].ChuyenMuc_BaiViet.ToArray()[0].BaiViet.TieuDe</a>
                        </div>
                    </div>

                    @for (int i = 1; i <= dsChuyenMuc[1].ChuyenMuc_BaiViet.Take(4).Count(); i++)
                    {
                        <!-- Single Post Area -->
                        <div class="razo-single-post d-flex mb-30">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail">
                                <a href="single-blog.html"><img style="height: 100px" src="/fileupload/download?key=@(dsChuyenMuc[1].ChuyenMuc_BaiViet.ToArray()[i].BaiViet.AnhDaiDien)" alt=""></a>
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> <span class="fb-comments-count" data-href="/BaiViet/ChiTietBaiViet/@(dsChuyenMuc[1].ChuyenMuc_BaiViet.ToArray()[i].BaiVietID)"></span></a>
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @dsChuyenMuc[1].ChuyenMuc_BaiViet.ToArray()[i].BaiViet.LuotXem</a>
                                </div>
                                <a href="@Url.Action("ChiTietBaiViet", "BaiViet", new { id = @dsChuyenMuc[1].ChuyenMuc_BaiViet.ToArray()[i].BaiVietID })" class="post-title">@dsChuyenMuc[1].ChuyenMuc_BaiViet.ToArray()[i].BaiViet.TieuDe</a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Area End -->
<!-- Music Charts Area Start -->
<section class="razo-music-charts-area section-padding-80 bg-overlay bg-img jarallax" style="background-image: url(img/bg-img/31.jpg);">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-sm-6">
                <div class="section-heading white">
                    <h2>Music Chart</h2>
                </div>
            </div>
            <!-- Show All Button -->
            <div class="col-sm-6">
                <div class="show-all-button mb-50 text-right">
                    <a href="@Url.Action("Index", "CaSy")" class="btn show-all-btn">Show All Charts</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                @for (int i = 0; i < dsBaiHat.Count(); i++)
                {
                    <!-- Single Music Chart -->
                    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                        <!-- Music Content -->
                        <div class="music-content d-flex align-items-center">
                            <div class="sl-number">
                                <h5>@(i+1).</h5>
                            </div>
                            <div class="music-thumb">
                                <img src="/fileupload/download?key=@(dsBaiHat[i].AnhDaiDien)" alt="">
                            </div>
                            <div class="audio-player">
                                <audio preload="auto" controls>
                                    <source src="/FileUpload/@dsBaiHat[i].LinkFileNhac">
                                </audio>
                            </div>
                            <div class="music-title">
                                <h5>
                                    @dsBaiHat[i].TenBaiHat -
                                    @for (int j = 0; j < dsBaiHat[i].CaSy_BaiHat.Count(); j++)
                                    {
                                        <span>@dsBaiHat[i].CaSy_BaiHat.ToArray()[j].CaSy.BietDanh</span>
                                        if (j != dsBaiHat[i].CaSy_BaiHat.Count() - 1)
                                        {
                                            <span>, </span>
                                        }
                                    }
                                </h5>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
<!-- Music Charts Area End -->
<!-- Trending Video Area Start -->
<section class="razo-trending-video-area section-padding-80-0 ">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Trending Video</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Featured Trending Video -->
            <div class="col-12">
                <div class="featured-trending-video mb-30 wow fadeInUp" data-wow-delay="100ms">
                    <iframe src="https://www.youtube.com/embed/zRvhQ5Rf6-U" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Trending Video Area End -->
<!-- Weekly Sehedule Area Start -->
@*<section class="razo-weekly-schedule-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="weekly-schedule-table table-responsive">
                        <div class="col-12">
                            <div class="section-heading text-center">
                                <h2>Weekly Sehedule</h2>
                            </div>
                        </div>

                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <p>Monday</p>
                                    </th>
                                    <th scope="col">
                                        <p>Tuesday</p>
                                    </th>
                                    <th scope="col">
                                        <p>Wednesday</p>
                                    </th>
                                    <th scope="col">
                                        <p>Thursday</p>
                                    </th>
                                    <th scope="col">
                                        <p>Friday</p>
                                    </th>
                                    <th scope="col">
                                        <p>Saturday</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <p>As BBC Radio 5 live</p>
                                        <span>01:00 am - 02:30 am</span>
                                    </th>
                                    <td>
                                        <h5>Andrew Peach Birthday Surprise!</h5>
                                        <span>13:00 pm - 16:00 pm</span>
                                    </td>
                                    <td>
                                        <h5>As BBC Radio 5 live</h5>
                                        <span>23:00 pm - 02:00 am</span>
                                    </td>
                                    <td>
                                        <h5>Berkshire Sport: Extra Time</h5>
                                        <span>01:00 am - 03:30 am</span>
                                    </td>
                                    <td>
                                        <h5>As BBC Radio 5 live</h5>
                                        <span>01:00 am - 02:30 am</span>
                                    </td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <th scope="row">
                                        <p>Berkshire Sport: Extra Time</p>
                                        <span>05:30 am - 06:30 am</span>
                                    </th>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <h5>Tony Blackburn on BBC Radio</h5>
                                        <span>03:00 am - 05:00 am</span>
                                    </td>
                                    <td></td>
                                    <td>
                                        <h5>Stereo Underground</h5>
                                        <span>03:00 am - 05:00 am</span>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td>
                                        <h5>BBC Music Introducing in</h5>
                                        <span>10:00 am - 12:00 pm</span>
                                    </td>
                                    <td>
                                        <h5>Stereo Underground</h5>
                                        <span>13:00 pm - 15:00 pm</span>
                                    </td>
                                    <td></td>
                                    <td>
                                        <h5>Sport on BBC Radio Berkshire</h5>
                                        <span>07:00 am - 09:30 am</span>
                                    </td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <th scope="row">
                                        <p>Andrew Peach Birthday Surprise!</p>
                                        <span>13:00 pm - 16:00 pm</span>
                                    </th>
                                    <td>
                                    </td>
                                    <td>
                                        <h5>BBC Music Introducing in</h5>
                                        <span>17:00 pm - 20:00 pm</span>
                                    </td>
                                    <td>
                                        <h5>Andrew Peach Birthday Surprise!</h5>
                                        <span>13:00 pm - 16:00 pm</span>
                                    </td>
                                    <td></td>
                                    <td>
                                        <h5>Danyl Johnson and Natasha Watts</h5>
                                        <span>13:00 pm - 16:00 pm</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!-- Weekly Sehedule Area End -->
<!-- Music Charts Portfolio Area Start -->
<section class="razo-charts-portfolio-area section-padding-80">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Singer</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @for (int i = 0; i < danhSachCaSy.Count(); i++)
            {
                <!-- Single Charts Portfolio -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-charts-portfolio mb-30">
                        <img src="/fileupload/download?key=@(danhSachCaSy[i].AnhDaiDien)" style="width: 100%; height: 250px" alt="">
                        <!-- Overlay -->
                        <div class="overlay-content">
                            <div class="text-center">
                                <a href="@Url.Action("ChiTietCaSy", "CaSy", new { id = danhSachCaSy[i].CaSyID })"><h5>@danhSachCaSy[i].HoTen</h5></a>
                                <p>@danhSachCaSy[i].BietDanh - @danhSachCaSy[i].CaSy_BaiHat.Count() ca khúc</p>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</section>
<!-- Music Charts Portfolio Area End -->
<!-- Latest News Area Start -->
<section class="razo-latest-news-area section-padding-80 bg-overlay bg-img jarallax" style="background-image: url(img/bg-img/32.jpg);">
    <div class="container">
        <div class="row align-items-end">
            <!-- Section Heading -->
            <div class="col-sm-6">
                <div class="section-heading white">
                    <h2>Latest News</h2>
                </div>
            </div>
            <!-- Show All Button -->
            <div class="col-sm-6">
                <div class="show-all-button mb-50 text-right">
                    <a href="#" class="btn show-all-btn">Show All Blog</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Razo Latest News Slide -->
    <div class="razo-latest-news-slide owl-carousel">
        @for (int i = 0; i < dsTinMoi.Count(); i++)
        {
            <!-- Single Latest News Area -->
            <div class="razo-single-latest-news-area bg-overlay bg-img" style="background-image: url(/fileupload/download?key=@(dsTinMoi[i].AnhDaiDien));">
                <!-- Post Content -->
                <div class="post-content">
                    <a href="@Url.Action("ChiTietBaiViet", "BaiViet", new { id = dsTinMoi[i].BaiVietID })" class="post-title">@dsTinMoi[i].TieuDe</a>
                    <p>@dsTinMoi[i].MoTaNgan</p>
                </div>
                <!-- Post Date -->
                <div class="post-date">
                    <h2>@dsTinMoi[i].NgayDang.Day</h2>
                    <p>Tháng @dsTinMoi[i].NgayDang.Month</p>
                </div>
                <!-- Read More -->
                <div class="read-more-btn">
                    <a class="btn" href="@Url.Action("ChiTietBaiViet", "BaiViet", new { id = dsTinMoi[i].BaiVietID })">Đọc thêm<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
            </div>
        }

    </div>
    <!-- Latest News Area End -->
</section>
<section style="padding: 80px 0px" id="lienhe">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <!-- Leave A Reply -->
                <div class="razo-contact-form">
                    <h2 class="mb-4">Liên hệ - Góp ý</h2>

                    <form action="/Home/ThemLienHe" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="text" name="message-name" class="form-control mb-30" style="color: black" placeholder="Họ tên">
                            </div>
                            <div class="col-lg-6">
                                <input type="number" name="message-sdt" required class="form-control mb-30" style="color: black" placeholder="Số điện thoại">
                            </div>
                            <div class="col-lg-6">
                                <input type="email" name="message-email" class="form-control mb-30" style="color: black" placeholder="Email">
                            </div>
                            <div class="col-12">
                                <textarea name="message" required class="form-control mb-30" style="color: black" placeholder="Ý kiến đóng góp"></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn razo-btn btn-3 mt-15 text-center">Gửi</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div style="padding-top: 67px">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.9227189215794!2d105.84935031408833!3d21.035777992916486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abbf4f1c5a11%3A0xe1d9cd0c8d36c960!2zNDggSMOgbmcgQnXhu5NtLCBIb8OgbiBLaeG6v20sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1588941247618!5m2!1svi!2s" width="600" height="450" frameborder="0" style="width: 100%; border: 1px solid gray; height: 270px!important" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                 </div>
            </div>
        </div>
    </div>
</section>
